<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Family Council</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<script src="{{ url_for('static',filename='scripts/jquery-3.3.1.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/fonts.css') }}">
</head>
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
			<img src="{{ url_for('static',filename='images/b.png') }}" alt="" />
			<h1><a href="#">Blum Council</a></h1>
			<span>Building a kickass family</span>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="{{url_for('overview')}}" accesskey="1" title="">Overview</a></li>
				<li><a href={{url_for('council')}} accesskey="2" title="">Council</a></li>
				<li><a href={{url_for('goals')}} accesskey="3" title="">Goals</a></li>
				<li><a href={{url_for('history')}} accesskey="4" title="">History</a></li>
				<li><a href={{url_for('settings')}} accesskey="5" title="">Settings</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="banner">
			<img src="{{ url_for('static',filename='images/justice.jpg') }}" alt="" class="image-full" />
		</div>
		<div id="welcome">
			<div class="title">
				<h2>Integrity</h2>
				<span class="byline">Through principles and perseverance, we build a greater world.</span>
			</div>
			<p>1. Do something. 2. Do something. 3. Finish all of the things</p>
			<ul class="actions">
				<li><a href="#" class="button">Etiam posuere</a></li>
			</ul>
		</div>
		<div id="featured">
			<div class="title">
				<h2>Recent Activity</h2>
				<span class="byline">Meetings and such as... or whatever</span>
			</div>
			<ul class="style1">
				<li class="first">
					<p class="date"><a href="#">Jan<b>05</b></a></p>
					<h3><a href="#">Council</a></h3>
					<p>
						&bull;Thing 1 discussed -- should only show first three agenda items?<br>
						&bull;Or allow expansion to show full description?<br>
						&bull;Or just redirect to full meeting page?
					</p>
				</li>
			</ul>
		</div>
		<div id="copyright">
			<span>&copy; FamilyCouncil. All rights reserved.</span>
		</div>
	</div>
</div>
</body>
</html>
